# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/
env/
.env

# 기타 캐시 및 빌드 파일
.pytest_cache/
.tox/
build/
dist/
*.egg-info/# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor
.vscode/
.idea/
*.egg-info/
scripts/ingest/transform/grade_parser_test.py
scripts/ingest/transform/personeltest.py

# 환경 변수 파일
.env

# 장학금 크롤링 캐시
*.pkl

